<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>

</head>
<body>
    <style>
        body {
          margin: 0 auto;
          max-width: 800px;
          padding: 0 20px;
        }
        
        .container {
          border: 2px solid #dedede;
          background-color: #f1f1f1;
          border-radius: 5px;
          padding: 10px;
          margin: 10px 0;
        }
        
        .darker {
          border-color: #ccc;
          background-color: #ddd;
        }
        
        .container::after {
          content: "";
          clear: both;
          display: table;
        }
        
        .container img {
          float: left;
          max-width: 60px;
          width: 100%;
          margin-right: 20px;
          border-radius: 50%;
        }
        
        .container img.right {
          float: right;
          margin-left: 20px;
          margin-right:0;
        }
        
        .time-right {
          float: right;
          color: #aaa;
        }
        
        .time-left {
          float: left;
          color: #999;
        }
        </style>
        </head>
        <body>
        
        <h2>Chat Messages</h2>
        
        

    <div>

    </div>
    <input placeholder="user">
    <br>
    <input placeholder="message">
    <button>Send</button>
    
</body>
    <script>
        const socket = io('ws://14.239.202.200:8080')

        socket.on('message', text => {
            const el = document.createElement('div')
            el.className = "container";
            const message = document.createElement('p')
            message.innerHTML = text;
            el.appendChild(message);
            document.querySelector('div').appendChild(el);
        })

        document.querySelector('button').onclick = () =>{
            const user = document.querySelectorAll('input');
            const text = user[0].value + "_" + user[1].value;
            socket.emit('message',text);
            user[1].value = "";
        }
    </script>
</html>